<h2 id="projects">Selected Projects</h2>

<div class="projects-grid">

  <article class="project-card">

    <img
      class="project-card-image"
      src="{{ '/assets/img/projects/tvface-thumbnail.jpeg' | relative_url }}"
      alt="Sample face images from the TVFace dataset"
    >

    <div class="project-card-content">
      <h3>TVFace: Large-Scale Video Face Clustering</h3>
      <p class="project-card-role"><strong>Role:</strong> Project Contributor</p>

     

      <div class="project-card-links">
        <a href="https://github.com/Vision-At-SEECS/TVFace"
           target="_blank" rel="noopener noreferrer">Code</a>

        <a href="https://drive.google.com/drive/folders/1GBJs96fE6qbef8VGurz4q3DvN4s_pXDw"
           target="_blank" rel="noopener noreferrer">Dataset</a>

        <a href="https://www.linkedin.com/feed/update/urn:li:activity:7360635272209887232/"
           target="_blank" rel="noopener noreferrer">Project Announcement</a>
      </div>

    </div>

  </article>






<article class="project-card">

  <img
    class="project-card-image project-card-image-contain"
    src="{{ '/assets/img/projects/voice-cloning.jpg' | relative_url }}"
    alt="Workflow of the SpeechEcho voice-cloning project"
  >

  <div class="project-card-content">

    <h3>
      SpeechEcho: Parameter-Efficient Voice Cloning for South Asian English
    </h3>

    <p class="project-card-role">  
      BS Data Science Students’ Final-Year Project<br>
      <strong>Role:</strong> Project Supervisor
    </p>

    <div class="project-card-links">

      <a
        href="https://github.com/Mustafa-bacha/SpeechEcho"
        target="_blank"
        rel="noopener noreferrer"
      >
        Code
      </a>

    </div>

  </div>

</article>













  

</div>
