<!-- Timeline section -->
<h2 id="timeline">Timeline</h2>

<div class="timeline-table">

  <div class="timeline-row">
    <div class="timeline-date">2025 - 2026</div>

    <div class="timeline-role">
      Lecturer
    </div>

    <div class="timeline-place">
      <a href="https://giki.edu.pk/"
         target="_blank"
         rel="noopener noreferrer">
        GIKI, Pakistan
      </a>
    </div>
  </div>


  <div class="timeline-row">
    <div class="timeline-date">2024 - 2025</div>

    <div class="timeline-role">
      Research Team Lead
    </div>

    <div class="timeline-place">
      <a href="https://vision.seecs.edu.pk/"
         target="_blank"
         rel="noopener noreferrer">
        MachVIS Lab
      </a>
    </div>
  </div>


  <div class="timeline-row">
    <div class="timeline-date">2023</div>

    <div class="timeline-role">
      Visiting Researcher
    </div>

    <div class="timeline-place">
      <a href="https://www.asg.ed.tum.de/en/sipeo/home/"
         target="_blank"
         rel="noopener noreferrer">
        TUM, Germany
      </a>
    </div>
  </div>


  <div class="timeline-row">
    <div class="timeline-date">2018 - 2021</div>

    <div class="timeline-role">
      M.S. in Computer Science
    </div>

    <div class="timeline-place">
      <a href="https://seecs.nust.edu.pk/"
         target="_blank"
         rel="noopener noreferrer">
        NUST-SEECS, Pakistan
      </a>
    </div>
  </div>


  <div class="timeline-row">
    <div class="timeline-date">2015 - 2023</div>

    <div class="timeline-role">
      Instructor
    </div>

    <div class="timeline-place">
      <a href="https://seecs.nust.edu.pk/"
         target="_blank"
         rel="noopener noreferrer">
        NUST-SEECS, Pakistan
      </a>
    </div>
  </div>


  <div class="timeline-row">
    <div class="timeline-date">2011 - 2015</div>

    <div class="timeline-role">
      B.E. in Computer System Engineering
    </div>

    <div class="timeline-place">
      <a href="https://ceme.nust.edu.pk/"
         target="_blank"
         rel="noopener noreferrer">
        NUST-CEME, Pakistan
      </a>
    </div>
  </div>

</div>
